.chat-list {
  height: 80vh;
  padding: 0;
  word-wrap: break-word;
  overflow-y: auto;
  overflow-x : hidden;
}

.chat-message {
  list-style: none;
}

.navbar {
  border-radius: 0;
}

.user-list {
  padding: 0;
  overflow-y: auto;
  overflow-x : hidden;
}

.user-item {
  list-style: none;
}
